[Unit]
Description=Escapod run when shutdown/reboot schedule changes
ConditionPathExists=/usr/local/bin/escapod.sh

[Service]
Type=oneshot
EnvironmentFile=/etc/escapod/escapod.env
ExecStart=/usr/local/bin/escapod.sh scheduled
