[Unit]
Description=Collect info, backup, mail
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
After=network-online.target
ConditionPathExists=/usr/local/bin/escapod.sh

[Service]
Type=notify
EnvironmentFile=/etc/escapod/escapod.env
ExecStart=/usr/local/bin/escapod.sh pre-reboot
TimeoutSec=30s

[Install]
WantedBy=multi-user.target