[Unit]
Description=Collect info, backup, mail (Fedora CoreOS)
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
ConditionPathExists=/usr/local/bin/pre-reboot-hook.sh

[Service]
Type=oneshot
EnvironmentFile=/etc/pre-reboot-hook/pre-reboot-hook.env
ExecStart=/usr/local/bin/pre-reboot-hook.sh

[Install]
WantedBy=shutdown.target