[Unit]
Description=Collect info, backup, mail (Fedora CoreOS)
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
After=network-online.target
ConditionPathExists=/usr/local/bin/pre-reboot-hook.sh

[Service]
Type=oneshot
EnvironmentFile=/etc/pre-reboot-hook/pre-reboot-hook.env
ExecStart=/usr/local/bin/pre-reboot-hook.sh && /bin/sleep 60
TimeoutSec=90s

[Install]
WantedBy=multi-user.target